* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/header1.jpg");
    background-size: cover;
    background-position: 0% 23%;
    padding: 50px 50px 30px 50px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

header div img:nth-child(2) {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

/* Navbar */

nav {
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}

/* Corpo */

p.data {
    margin: 30px auto;
    font-size: 0.8em;
    font-weight: 300;
}

h3.titulo {
    margin: 10px 0;
    font-size: 1.5em;
}

img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

div.postContent {
    margin: 10px 0;
    text-align: justify;
    font-size: 0.9em;
    font-weight: 300;
}

hr {
    margin-top: 30px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul.pagination {
    margin-top: 30px;
}

#toTop {
    position: fixed;
    bottom: 100px;
    right: 30px;    
}

/* Rodapé */

footer p {
    color: white;
    font-size: 0.8em;
    padding: 10px;
}

#infoBlog {
    border-left: 1px solid black;
}